<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>
  <h1 class="font-bold text-4xl">Forgot your password?</h1>
  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, 
        required: true, 
        autofocus: true, 
        autocomplete: "username", 
        placeholder: "Enter your email address", 
        value: params[:email_address], 
        class: "shadow border-b text-stone-300 border-stone-600 outline-none px-3 py-2 mt-2 w-full mb-2" %>
    </div>
    <div class="flex flex-row items-center gap-x-2">
      <%= form.submit "Email reset instructions", 
        class: "px-2 py-2 bg-blue-500 hover:bg-blue-800 text-white transition cursor-pointer" %>
      <%= link_to "Return to sign in", new_session_path, 
        class: "text-white underline hover:no-underline" 
      %>
    </div>
  <% end %>
</div>
